{{ ansible_managed | comment }}

C_VOLUMES="{{ plex_volumes | join(' ') }}"
C_PORTS="{% for i in plex_ports %}-p {{ i.port }}:{{ i.public_port | default(i.port) }}/{{ i.proto | default('tcp') }} {% endfor %}"
C_ENV="{{ plex_env | join(' ') }}"
C_ARGS="--rm --name plex"
C_IMAGE="{{ plex_image }}"
C_OPTS=""
